-- =============================================================================
-- Migration: Ajout du flag is_production_data pour prot├®ger les tenants BETA/PROD
-- Date: 2025-11-17
-- Description: Permet de marquer les tenants qui contiennent des donn├®es de production
--              pour emp├¬cher toute suppression ou modification accidentelle
-- =============================================================================

-- Ajouter le flag de protection
ALTER TABLE public.companies 
ADD COLUMN IF NOT EXISTS is_production_data BOOLEAN DEFAULT FALSE;

-- Cr├®er un index pour requ├¬tes rapides
CREATE INDEX IF NOT EXISTS idx_companies_is_production 
ON public.companies(is_production_data) 
WHERE is_production_data = TRUE;

-- Ajouter un commentaire explicatif
COMMENT ON COLUMN public.companies.is_production_data IS 
'Flag de protection: TRUE pour les tenants contenant des donn├®es de production ou de clients r├®els. Emp├¬che les suppressions et modifications sensibles.';

-- =============================================================================
-- Fonction de protection contre suppression accidentelle
-- =============================================================================
CREATE OR REPLACE FUNCTION public.prevent_production_data_deletion()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
  IF OLD.is_production_data = TRUE THEN
    RAISE EXCEPTION 'Cannot delete a company with production data. Set is_production_data to FALSE first.';
  END IF;
  RETURN OLD;
END;
$$;

-- Trigger de protection
DROP TRIGGER IF EXISTS trg_protect_production_data ON public.companies;
CREATE TRIGGER trg_protect_production_data
BEFORE DELETE ON public.companies
FOR EACH ROW
EXECUTE FUNCTION public.prevent_production_data_deletion();

COMMENT ON FUNCTION public.prevent_production_data_deletion() IS 
'Emp├¬che la suppression accidentelle d''un tenant marqu├® comme contenant des donn├®es de production';

